#config_version=6

# There are 2 skill shots at the start of this game:
# The light on at the top of the bumpers.
# Press the left flipper and dunk a stronger ball then hit the captive ball within 10 seconds.
# Skillshot value starts at 500,000 points and increases by 250,000 for each skillshot rolled.
# Super skillshot value starts at 1,000,000 points and increases by 500,000 for each super skillshot rolled.

mode:
  start_events: start_mode_skillshot
  stop_events:
    - skill_success
    - super_skill_success
    - skill_failed
    - stop_mode_skillshot
  priority: 500

shot_profiles:
  skillshots_profile:
    states:
      - name: unlit
        show: off
      - name: flashing
        show: flash_color
        speed: 2
      - name: lit
        show: on
    loop: true
  super_skillshots_profile:
    states:
      - name: unlit
        show: off
      - name: flashing
        show: flash_color
        speed: 4
      - name: lit
        show: on
    loop: true

shots:
  skill_l:
    switch: s_dragon_lane_left
    profile: skillshots_profile
    advance_events: mode_skillshot_started
    restart_events: mode_skillshot_will_stop
    show_tokens:
      led: led_left_lane
      color: 00FF00
  skill_r:
    switch: s_dragon_lane_right
    profile: skillshots_profile
    restart_events: mode_skillshot_will_stop
    show_tokens:
      led: led_right_lane
      color: 00FF00
  super_skill_target:
    switch: s_newton_ball_target
    profile: super_skillshots_profile
    control_events:
      - events: player_shot_super_skill_target_enabled
        state: 1
    show_tokens:
      led: led_super_skillshot
      color: FF0000

shot_groups:
  skillshots:
    shots: skill_l, skill_r
    enable_events: enable_skill
    disable_events: enable_super_skill
    rotate_left_events: s_flipper_left_active
    rotate_right_events: s_flipper_right_active
  super_skillshot:
    shots: super_skill_target
    enable_events: enable_super_skill
    disable_events: enable_skill

variable_player:
  skill_success:
    skillshot_count: 1
    score: 500_000 + current_player.nb_skillshot * 250_000
  super_skill_success:
    super_skillshot_count: 1
    score: 1_000_000 * current_player.pf_multiplier + current_player.nb_super_skillshot * 500_000

event_player:
  mode_skillshot_started: enable_skill
  flipper_super_skill{device.switches.s_plunger_lane.state == 1}: enable_super_skill
  flipper_super_skill_release{device.switches.s_plunger_lane.state == 1}: enable_skill

timers:
  skillshots_timeout:
    start_value: 0
    end_value: 1
    direction: up
    tick_interval: 10s     # set the timeout of your skill shot here
    start_running: false
    control_events:
      - action: start
        event: balldevice_bd_plunger_ball_eject_success

state_machines:
  skillshots_success:
    debug: true
    states:
      start:
        label: Skill shots ready
      skill_success:
        label: Skill successful
        events_when_started: skill_success
      super_skill_success:
        label: Super skill successful
        events_when_started: super_skill_success
      failed:
        label: Skill failed
        events_when_started: skill_failed
    transitions:
      - source: start
        target: skill_success
        events: skillshots_flashing_hit
      - source: start
        target: super_skill_success
        events: super_skillshot_hit
      - source: start
        target: failed
        events: skillshots_unlit_hit, timer_skillshots_timeout_complete, s_spinner_right_active,  s_ramp_right_active, s_ramp_left_active, s_temple_out_active, s_blue_target_left_active, s_blue_target_right_active, s_red_target_1_active, s_red_target_2_active, s_red_target_3_active, s_red_target_4_active, s_red_target_5_active, s_red_target_6_active, s_kickout_active, s_scoop_1_active, bumpers_hit

timed_switches:
  flipper_super_skill:
    switch_tags: left_flipper
    time: 1s
    events_when_active: flipper_super_skill
    events_when_released: flipper_super_skill_release
