#config_version=6

# Attract mode that starts when the machine boots up, stops
# whenever a game is started, and re-starts after the game ends.

mode_settings:
  selectable_items:
    - mpf_logo
    - mpf_logo2
    - mpf_logo3
    - author
    - title
    - credits
    - thanks
    - thanks2
    - thanks3
    - thanks4
    - thanks5
  next_item_events: s_flipper_right_active, timer_attract_carousel_timer_complete, slide_attract_active
  previous_item_events: s_flipper_left_active, slide_attract_active     # hook : slide_attract_active for linux bug on first slide

sound_player:
  mode_attract_started:
    nu-metal-tribute-to-saint-michael-the-archangel-265109:
      bus: music
      volume: 0.02

slide_player:
  mode_attract_started: attract

show_player:
  mode_attract_started:
    attract_light_show:
      speed: 2

timers:
  attract_carousel_timer:
    end_value: 1
    tick_interval: 10s
    start_running: true
    control_events:
      - event: item_highlighted
        action: restart
      - event: flipper_cradle
        action: stop
      - event: flipper_cradle_release
        action: restart

event_player:
  flipper_cradle: game_start
