#config_version=6


shots:
  bumper_left_shot:
    switch: s_bumper_left
  bumper_right_shot:
    switch: s_bumper_right
  bumper_bottom_shot:
    switch: s_bumper_bottom

shot_groups:
  bumpers_shots:
    shots: bumper_left_shot, bumper_right_shot, bumper_bottom_shot

slide_player:
  start_base_bumpers: bumpers
  bumpers_shots_hit:
    bumpers:
      action: method
      method: top_down_text
  stop_base_bumpers:
    bumpers:
      action: remove

variable_player:
  bumpers_shots_hit:
    score: current_player.bumpers_score
