#config_version=6

shot_profiles:
  color_profile_201:
    states:
      - name: unlit
        show: "off"
      - name: lit
        show: led_color
        priority: 201
        show_tokens:
          color: (color)

shots:
  red_target_1:
    switch: s_red_target_1
    profile: color_profile_201
    show_tokens:
      led: led_red_target_1
      color: ff0000
  red_target_2:
    switch: s_red_target_2
    profile: color_profile_201
    show_tokens:
      led: led_red_target_2
      color: ff0000
  red_target_3:
    switch: s_red_target_3
    profile: color_profile
    show_tokens:
      led: led_red_target_3
      color: ff0000
  red_target_4:
    switch: s_red_target_4
    profile: color_profile
    show_tokens:
      led: led_red_target_4
      color: ff0000
  red_target_5:
    switch: s_red_target_5
    profile: color_profile
    show_tokens:
      led: led_red_target_5
      color: ff0000
  red_target_6:
    switch: s_red_target_6
    profile: color_profile
    show_tokens:
      led: led_red_target_6
      color: ff0000

shot_groups:
  red_targets_group:
    shots: red_target_1, red_target_2, red_target_3, red_target_4, red_target_5, red_target_6
    reset_events: mode_base_started, red_targets_group_lit_complete

variable_player:
  red_targets_group_hit:
    score: 1_000 * current_player.pf_multiplier
  red_targets_group_lit_complete:
    score: 100_000 * current_player.pf_multiplier

#TODO:
# -  mistery à lancer quand les 6 sont activés