#config_version=6

# Base mode that starts at the beginning of each ball
# and stops at the end of each ball.

mode:
  start_events: ball_starting
  stop_events: ball_will_end
  priority: 100

event_player:
  mode_base_started:
    - start_mode_bumpers
    - start_mode_skillshot
    - start_mode_log
    - start_mode_ramps_combo
    - start_mode_rollover_lanes
  mode_base_will_stop:
    - stop_mode_bumpers
    - stop_mode_skillshot
    - stop_mode_log
    - stop_mode_ramps_combo
    - stop_mode_rollover_lanes
  kickout_left_hit: start_mode_hurryup

shots:
  kickout_left:
    switches: s_kickout

slide_player:
  mode_base_started: base

# Hook to bd_trough jam - START
timers:
  bd_trough_jam:
    tick_interval: 3s
    control_events:
      - event: balldevice_bd_trough_ejecting_ball
        action: start
      - event: s_plunger_lane_active
        action: stop
      - event: ball_will_end
        action: stop

coil_player:
  timer_bd_trough_jam_tick{ticks > 0}: c_trough_eject
# Hook to bd_trough jam - END

timed_switches:
  flipper_right_cradle:
    switch_tags: right_flipper
    time: 3s
    events_when_active: auto_launch_plunger
    events_when_released: auto_launch_plunger_release