#config_version=6

# Hit the 6 red targets to activate the Mystery light
# Hit the IFenix to collect the prize.
# Some of the mystery prizes are:
#   - 2 balls instant Multiball
#   - Small points (10 - 100,000)
#   - Big Points (100,000)
#   - Instant completion of the incomplete battle.
#   - Increase playfield score to 5x for 30 seconds
#   - Increase Bonus X
#   - Extra Light Ball
#   - Activate BallSaver for 20 seconds

shot_profiles:
  color_profile_201: # Hook for red targets light priority when yellow and red color are active
    states:
      - name: unlit
        show: "off"
      - name: lit
        show: led_color
        priority: 201
        show_tokens:
          color: (color)

shots:
  red_target_1:
    switch: s_red_target_1
    profile: color_profile_201
    show_tokens:
      led: led_red_target_1
      color: ff0000
  red_target_2:
    switch: s_red_target_2
    profile: color_profile_201
    show_tokens:
      led: led_red_target_2
      color: ff0000
  red_target_3:
    switch: s_red_target_3
    profile: color_profile
    show_tokens:
      led: led_red_target_3
      color: ff0000
  red_target_4:
    switch: s_red_target_4
    profile: color_profile
    show_tokens:
      led: led_red_target_4
      color: ff0000
  red_target_5:
    switch: s_red_target_5
    profile: color_profile
    show_tokens:
      led: led_red_target_5
      color: ff0000
  red_target_6:
    switch: s_red_target_6
    profile: color_profile
    show_tokens:
      led: led_red_target_6
      color: ff0000
  mystery_prize_shot:
    switch: s_scoop
    profile: flashing_profile
    enable_events: red_targets_group_lit_complete
    disable_events: mystery_award_event
    show_tokens:
      led: led_scoop_mystery
      color: ffff00

shot_groups:
  red_targets_group:
    shots: red_target_1, red_target_2, red_target_3, red_target_4, red_target_5, red_target_6
    disable_events: red_targets_group_lit_complete
    restart_events:
      - mystery_award_event
      - mode_base_started{not is_extra_ball and device.sequences.mystery_award_sequence.value == 0}

variable_player:
  red_targets_group_hit:
    score: 1_000 * current_player.pf_multiplier
  red_targets_group_lit_complete:
    score: 100_000 * current_player.pf_multiplier
  mystery_award_smallpoints_event:
    score: 10_000 * device.timers.random_smallpoints.ticks
  mystery_award_bigpoints_event:
    score: 100_000

ball_holds:
  mystery_scoop:
    balls_to_hold: 1
    hold_devices: bd_scoop
    enable_events:
      - red_targets_group_lit_complete
      - mode_base_started{device.sequences.mystery_award_sequence.value == 1}
    disable_events: end_mystery
    release_one_events: end_mystery
    console_log: full
    file_log: full
    debug: true

random_event_player:
  ball_hold_mystery_scoop_held_ball:
    events:
      mystery_award_multiball_event: 1 #numbers show probability of event
      mystery_award_smallpoints_event: 93
      mystery_award_bigpoints_event: 1
      mystery_award_4_event: 1
      mystery_award_5_event: 1
      mystery_award_6_event: 1
      mystery_award_7_event: 1
      mystery_award_8_event: 1
    force_all: false

event_player:
  mystery_award_event: end_mystery|1s  #  slide_mystery_removed: end_mystery

sequences:
  mystery_award_sequence:
    events:
      - red_targets_group_lit_complete
      - ball_hold_mystery_scoop_held_ball
    persist_state: true
    disable_on_complete: false
    events_when_complete: mystery_award_event


slide_player:
  mystery_award_multiball_event:
    log:
      action: method
      method: log_text
      tokens:
        text: "2 balls instant Multiball"
  mystery_award_smallpoints_event:
    log:
      action: method
      method: log_text
      tokens:
        text: 'Small points'
  mystery_award_bigpoints_event:
    log:
      action: method
      method: log_text
      tokens:
        text: 'Big points'
  mystery_award_4_event:
    log:
      action: method
      method: log_text
      tokens:
        text: 'Mystery award'
  mystery_award_5_event:
    log:
      action: method
      method: log_text
      tokens:
        text: 'Mystery award'
  mystery_award_6_event:
    log:
      action: method
      method: log_text
      tokens:
        text: 'Mystery award'
  mystery_award_7_event:
    log:
      action: method
      method: log_text
      tokens:
        text: 'Mystery award'
  mystery_award_8_event:
    log:
      action: method
      method: log_text
      tokens:
        text: 'Mystery award'


multiballs:
  mystery_multiball:
    ball_count: 2
    start_events: mystery_award_multiball_event

timers:
  random_smallpoints:
    console_log: none
    start_running: false
    tick_interval: 400ms
    start_value: 1
    end_value: 9
    restart_on_complete: true
    control_events:
      - event: red_targets_group_lit_complete
        action: restart
      - event: mode_base_started{device.sequences.mystery_award_sequence.value == 1}
        action: restart
      - event: mystery_award_event
        action: stop
