#config_version=6

# Hit the 6 red targets to activate the Mystery light
# Hit the IFenix to collect the prize.
# Some of the mystery prizes are:
#   - 2 balls instant Multiball
#   - Small dots (10 - 100,000)
#   - Big Points (100,000)
#   - Instant completion of the incomplete battle.
#   - Increase playfield score to 5x for 30 seconds
#   - Increase Bonus X
#   - Extra Light Ball
#   - Activate BallSaver for 20 seconds

shot_profiles:
  color_profile_201: # Hook for red targets light priority when yellow and red color are active
    states:
      - name: unlit
        show: "off"
      - name: lit
        show: led_color
        priority: 201
        show_tokens:
          color: (color)

shots:
  red_target_1:
    switch: s_red_target_1
    profile: color_profile_201
    show_tokens:
      led: led_red_target_1
      color: ff0000
  red_target_2:
    switch: s_red_target_2
    profile: color_profile_201
    show_tokens:
      led: led_red_target_2
      color: ff0000
  red_target_3:
    switch: s_red_target_3
    profile: color_profile
    show_tokens:
      led: led_red_target_3
      color: ff0000
  red_target_4:
    switch: s_red_target_4
    profile: color_profile
    show_tokens:
      led: led_red_target_4
      color: ff0000
  red_target_5:
    switch: s_red_target_5
    profile: color_profile
    show_tokens:
      led: led_red_target_5
      color: ff0000
  red_target_6:
    switch: s_red_target_6
    profile: color_profile
    show_tokens:
      led: led_red_target_6
      color: ff0000
  mistery_prize_shot:
    switch: s_scoop
    profile: flashing_profile
    enable_events: red_targets_group_lit_complete
    disable_events: mystery_award_event
    show_tokens:
      led: led_scoop_mistery
      color: ffff00

shot_groups:
  red_targets_group:
    shots: red_target_1, red_target_2, red_target_3, red_target_4, red_target_5, red_target_6
    disable_events: red_targets_group_lit_complete
    restart_events:
      - mode_base_started{not is_extra_ball}
      - mystery_award_event

variable_player:
  red_targets_group_hit:
    score: 1_000 * current_player.pf_multiplier
  red_targets_group_lit_complete:
    score: 100_000 * current_player.pf_multiplier

#TODO: mistery
ball_holds:
  mystery_scoop:
    balls_to_hold: 1
    hold_devices: bd_scoop
    enable_events: red_targets_group_lit_complete
    disable_events: end_mystery #, multiball_active
    release_one_events: end_mystery

random_event_player:
  ball_hold_mystery_scoop_held_ball:
    events:
      mystery_award_multiball_event: 1 #numbers show probability of event
      mystery_award_2_event: 93
      mystery_award_3_event: 1
      mystery_award_4_event: 1
      mystery_award_5_event: 1
      mystery_award_6_event: 1
      mystery_award_7_event: 1
      mystery_award_8_event: 1
    force_all: true

event_player:
  mystery_award_event: end_mystery|1s  #  slide_mistery_removed: end_mystery
  mystery_award_multiball_event: mystery_award_event
  mystery_award_2_event: mystery_award_event
  mystery_award_3_event: mystery_award_event
  mystery_award_4_event: mystery_award_event
  mystery_award_5_event: mystery_award_event
  mystery_award_6_event: mystery_award_event
  mystery_award_7_event: mystery_award_event
  mystery_award_8_event: mystery_award_event

slide_player:
  mystery_award_event:
    log:
      action: method
      method: log_text
      tokens:
        text: "Random mistery"
  mystery_award_multiball_event:
    log:
      action: method
      method: log_text
      tokens:
        text: "2 balls instant Multiball"


multiballs:
  mistery_multiball:
    ball_count: 2
    start_events: mystery_award_multiball_event