#config_version=6

# 1. MU DE ARIES - FOLLOW THE LIGHTS 2
# In this mode, every 4 seconds the illuminated plane changes randomly.
# Hitting the lit shot during this mode awards a standard score of 150,000.
# Press 4 lights to activate the temple, insert the ball and complete the battle.

mode:
  start_events: start_mode_gold_knight_1
  stop_events: stop_mode_gold_knight_1, stop_missions
  events_when_started: mode_type_mission_started, mode_gold_knight_started
  events_when_stopped: mode_type_mission_stopped, mode_gold_knight_stopped
  priority: 400


shots:
  aries_left_orbit:
    switch: s_orbit_left
    profile: manual_advance_shots_profile
    advance_events: lit_aries_left_orbit
    show_tokens:
      led: led_orbit_left
      color: D67691
  aries_left_ramp:
    switch: s_ramp_left
    profile: manual_advance_shots_profile
    advance_events: lit_aries_left_ramp
    show_tokens:
      led: led_ramp_left
      color: D60108
  aries_right_ramp:
    switch: s_ramp_right
    profile: manual_advance_shots_profile
    advance_events: lit_aries_right_ramp
    show_tokens:
      led: led_ramp_right
      color: 18A58F
  aries_right_orbit:
    switch: s_orbit_right
    profile: manual_advance_shots_profile
    advance_events: lit_aries_right_orbit
    show_tokens:
      led: led_orbit_right
      color: 2748C6
  enter_aries_temple:
    switch: s_temple_in
    profile: manual_advance_shots_profile
    advance_events: lit_aries_temple
    show_tokens:
      led: led_temple
      color: ffff00

shot_groups:
  aries_shots:
    shots: aries_left_orbit, aries_left_ramp, aries_right_ramp, aries_right_orbit
    restart_events: timer_aries_timer_started.1, aries_shots_flashing_hit.1

random_event_player:
  timer_aries_timer_started.2:
    events:
      - lit_aries_left_orbit
      - lit_aries_left_ramp
      - lit_aries_right_ramp
      - lit_aries_right_orbit
  aries_shots_flashing_hit.2:
    events:
      - lit_aries_left_orbit
      - lit_aries_left_ramp
      - lit_aries_right_ramp
      - lit_aries_right_orbit

event_player:
  logicblock_aries_shots_hits_counter_complete: lit_aries_temple
  logicblock_beat_gold_knight_1_complete: stop_mode_gold_knight_1|500ms

timers:
  aries_timer:
    end_value: 1
    tick_interval: 4s
    start_running: false
    restart_on_complete: true
    control_events:
      - event: mode_gold_knight_1_started
        action: start
      - event: aries_shots_flashing_hit
        action: reset
      - event: mode_gold_knight_1_stopping
        action: stop

counters:
  aries_shots_hits_counter:
    count_events: aries_shots_flashing_hit
    count_complete_value: 4
    disable_on_complete: false
    reset_on_complete: false

sequences:
  beat_gold_knight_1:
    events:
      - logicblock_aries_shots_hits_counter_complete
      - enter_aries_temple_hit

variable_player:
  aries_shots_flashing_hit{device.counters.aries_shots_hits_counter.value < 4}:
    score: 150_000 * current_player.pf_multiplier
  aries_shots_flashing_hit{device.counters.aries_shots_hits_counter.value >= 4 and device.counters.aries_shots_hits_counter.value <= 7}:
    score: (150_000 + 30_000 * (device.counters.aries_shots_hits_counter.value - 3)) * current_player.pf_multiplier
  aries_shots_flashing_hit{device.counters.aries_shots_hits_counter.value > 7}:
    score: 300_000 * current_player.pf_multiplier
  logicblock_beat_gold_knight_1_complete:
    knights_defeated_count: 1

show_player:
  mode_gold_knight_1_started:
    flashing_show:
      show_tokens:
        led: led_gold_knight_1
        color: ffffff