#config_version=6


# shot_profiles:
#   default_profile:
#     states:
#       - name: unlit
#         show: "off"
#       - name: lit
#         show: "on"

shots:
  ikki_left_target:
    switch: s_red_target_1
    restart_events: ikki_locked, multiball_ikki_multiball_ended
  ikki_right_target:
    switch: s_red_target_2
    restart_events: ikki_locked, multiball_ikki_multiball_ended
  ikki_temple:
    switch: s_temple_in

shot_groups:
  ikki_targets:
    shots: ikki_left_target, ikki_right_target

sequences:
  ikki_multiball_sequence:
    events:
      - ikki_targets_unlit_hit
      - ikki_targets_unlit_hit
      - ikki_temple_hit
      - ikki_targets_unlit_hit
      - ikki_targets_unlit_hit
      - ikki_temple_hit
      - ikki_targets_unlit_hit
      - ikki_targets_unlit_hit
      - ikki_temple_hit
    persist_state: true
    disable_on_complete: false
    events_when_complete: ikki_multiball_start

multiball_locks:
  ikki_lock:
    balls_to_lock: 1
    lock_devices: bd_lock
    enable_events: ikki_lock_enabled
    disable_events: ikki_lock_disabled
    locked_ball_counting_strategy: virtual_only
    reset_count_for_current_player_events: ikki_multiball_start

multiballs:
  ikki_multiball:
    ball_count: 3
    ball_locks: bd_lock
    start_events: ikki_multiball_start

event_player:
  logicblock_ikki_multiball_sequence_hit{step == 2}: ikki_lock_enabled
  logicblock_ikki_multiball_sequence_hit{step == 3}: ikki_locked
  balldevice_bd_lock_ball_entered{device.sequences.ikki_multiball_sequence.value == 3}: ikki_lock_disabled
  logicblock_ikki_multiball_sequence_hit{step == 5}: ikki_lock_enabled
  logicblock_ikki_multiball_sequence_hit{step == 6}: ikki_locked
  balldevice_bd_lock_ball_entered{device.sequences.ikki_multiball_sequence.value == 6}: ikki_lock_disabled
  logicblock_ikki_multiball_sequence_hit{step == 8}: ikki_dummy_lock_enabled
  logicblock_ikki_multiball_sequence_hit{step == 9}: ikki_locked
