#config_version=6


# shot_profiles:
#   default_profile:
#     states:
#       - name: unlit
#         show: "off"
#       - name: lit
#         show: "on"

shots:
  ikki_left_target:
    switch: s_red_target_1
    restart_events: ikki_lock1, ikki_lock2, ikki_multiball_ended
  ikki_right_target:
    switch: s_red_target_2
    restart_events: ikki_lock1, ikki_lock2, ikki_multiball_ended
  ikki_temple:
    switch: s_temple_in
    restart_events: ikki_lock1, ikki_lock2, ikki_multiball_ended

shot_groups:
  ikki_targets:
    shots: ikki_left_target, ikki_right_target

sequences:
  ikki_multiball_sequence:
    events:
      - ikki_targets_unlit_hit
      - ikki_targets_unlit_hit
      - ikki_temple_hit
    persist_state: true
    disable_on_complete: false
    events_when_complete: ikki_multiball_start
