#config_version=6

# Bumpers start with a value of 210 points.
# Every 30 hits, the value per hit is increased by an additional 500 points.
# The standard bumper value reaches a maximum of 3210 points.
# After every 30 hits, the multiplier light will flash.
# Hit the captive ball to collect This playfield multiplier can be increased up to 5x.
# A new ball will reset both the bumper value and the playfield multiplier.

mode:
  start_events: start_mode_bumpers
  stop_events: stop_mode_bumpers
  priority: 200

shots:
  bumper_left_shot:
    switch: s_bumper_left
  bumper_right_shot:
    switch: s_bumper_right
  bumper_bottom_shot:
    switch: s_bumper_bottom
  pf_multiplier_shot:
    switch: s_newton_ball_target
    profile: pf_multiplier_profile
    show_tokens:
      led: led_newton_ball
      color: FF0000
    enable_events: pf_multiplier_start
    disable_events: pf_multiplier_stop

shot_groups:
  bumpers_shots:
    shots: bumper_left_shot, bumper_right_shot, bumper_bottom_shot

shot_profiles:
  pf_multiplier_profile:
    states:
      - name: flashing
        show: flash_color
        speed: 2
    loop: true

slide_player:
  mode_bumpers_started: bumpers
  bumpers_shots_hit:
    bumpers:
      action: method
      method: top_down_text

counters:
  super_bumpers:
    count_events: bumpers_shots_hit
    starting_count: 3
    count_complete_value: 0
    direction: down
    events_when_complete: pf_multiplier_start
    restart_events: super_bumpers_restart

variable_player:
  mode_bumpers_started:
    bumpers_score:
      int: 210
      action: set
    pf_multiplier:
      int: 1
      action: set
  pf_multiplier_increase:
    pf_multiplier: 1
    bumpers_score: 500
  bumpers_shots_hit:
    score: current_player.bumpers_score

event_player:
  pf_multiplier_shot_flashing_hit{current_player.pf_multiplier < 4}:
    - super_bumpers_restart
    - pf_multiplier_increase
    - pf_multiplier_stop
  pf_multiplier_shot_flashing_hit{current_player.pf_multiplier == 4}:
    - pf_multiplier_increase
    - pf_multiplier_stop

light_player:
  pf_multiplier_increase{current_player.pf_multiplier == 1}:
    led_pf_multiplier_x2: blue
  pf_multiplier_increase{current_player.pf_multiplier == 2}:
    led_pf_multiplier_x3: blue
  pf_multiplier_increase{current_player.pf_multiplier == 3}:
    led_pf_multiplier_x4: blue
  pf_multiplier_increase{current_player.pf_multiplier == 4}:
    led_pf_multiplier_x5: blue
