#config_version=6

mode:
  start_events: start_mode_bumpers
  stop_events: stop_mode_bumpers
  priority: 200

shots:
  bumper_left_shot:
    switch: s_bumper_left
  bumper_right_shot:
    switch: s_bumper_right
  bumper_bottom_shot:
    switch: s_bumper_bottom

shot_groups:
  bumpers_shots:
    shots: bumper_left_shot, bumper_right_shot, bumper_bottom_shot

slide_player:
  mode_bumpers_started: bumpers
  bumpers_shots_hit:
    bumpers:
      action: method
      method: top_down_text

variable_player:
  mode_bumpers_started:
    bumpers_score:
      int: 210
      action: set
  bumpers_shots_hit:
    score: current_player.bumpers_score

