#config_version=6

## MPF Main Machine Config File
#
# This file defines your system-wide properties like switches,
# drivers, ball devices, hardware platforms, and more. You can
# include everything here, or create sub-config files to be
# imported and merged with this one.


config:
  - config_hardware.yaml
  - config_coils.yaml
  - config_switches.yaml
  - config_ball_devices.yaml
  - config_lights.yaml
  - config_vars.yaml

modes:
  - attract
  - base
  - global
  - field
  - bonus
  - hurryup
  - skillshot
#  - missions
  - gold_knight_1
  - gold_knight_2
  - gold_knight_3
  - gold_knight_4
  - gold_knight_5
  - gold_knight_6
  - gold_knight_7
  - gold_knight_8
  - gold_knight_9
  - gold_knight_10
  - gold_knight_11
  - gold_knight_12

playfields:
  playfield:
    default_source_device: bd_plunger
    tags: default

virtual_platform_start_active_switches:
  - s_trough_1
  - s_trough_2
  - s_trough_3
  - s_trough_4
  - s_trough_5

machine:
  balls_installed: 5 #How many balls are physically in your game
  min_balls: 1 #How few balls can be accounted for before you can start a game

plugins: switch_player

# switch_player:
#  steps:
#    - time: 2s
#      switch: s_start
#      action: activate
#    - time: 500ms
#      switch: s_start
#      action: deactivate