#config_version=6

hardware:
  platform:
    - opp
    - virtual
  driverboards: gen2
  rgb_dmd: zedmd

opp:
#Use the USB ports defined by your OS for the two STM32 boards
  ports: /dev/ttyACM0, /dev/ttyACM1

psus:
  default:
    voltage: 48
    release_wait_ms: 50    # defaults to 10ms

rgb_dmds:
  zedmd:
    hardware_brightness: .4

zedmd:
  width: 128
  height: 32


flippers:
  left_flipper:
    main_coil: c_flipper_left_power
    hold_coil: c_flipper_left_hold
    activation_switch: s_flipper_left
    enable_events: ball_started, enableAutofire, machine_reset_phase_3
    disable_events: ball_will_end, service_mode_entered, disableAutofire, shutdown

  right_flipper:
    main_coil: c_flipper_right_power
    hold_coil: c_flipper_right_hold
    activation_switch: s_flipper_right
    enable_events: ball_started, enableAutofire, machine_reset_phase_3
    disable_events: ball_will_end, service_mode_entered, disableAutofire, shutdown

diverters:
  left_orbit_gate:
    activation_coil: c_orbit_left_gate
    type: hold
    activation_time: 4s
    activate_events:
    # activate on skillshot ball launch
    - s_plunger_lane_inactive{mode.skillshot.active and device.shots.super_skill_target.state == 1}
    # activate when a new ball is launched, for multiballs, for ball locks, ...
    - s_plunger_lane_inactive{not mode.skillshot.active}
    # activate on orbit shot during gold knight 5
    - sw_orbits_active{mode.gold_knight_5.active}
    enable_events:
     - mode_base_started

  right_orbit_gate:
    activation_coil: c_orbit_right_gate
    type: hold
    activation_time: 4s
    activate_events:
    # activate on skillshot ball launch
    - s_plunger_lane_inactive{mode.skillshot.active and device.shots.super_skill_target.state == 1}
    # activate when a new ball is launched, for multiballs, for ball locks, ...
    - s_plunger_lane_inactive{not mode.skillshot.active}
    # activate on orbit shot during gold knight 5
    - sw_orbits_active{mode.gold_knight_5.active}
    enable_events:
     - mode_base_started
